<!--
//File Name   : Assignment1Part2\views\partials\footer.ejs
//Author Name : Tyler Cadeau
//Student Num : 200246900
//Website	  : https://comp2068-portfolioassignment.herokuapp.com/
//Description : This is the footer partial which will be stiched into my index.ejs file
-->

    <!-- Javascript -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/boostrap/dist/js/boostrap.min.js"></script>
    <script src="Scripts/app.js"></script>

</body>

<footer>
    <div class="container-fluid" style="background-color: #FFC700;">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6" style="text-align: right">
                <p>Copyright © 2016 TylerCadeau.</p>
            </div>
        </div>
</footer>

</html>