
    <!-- Javascript -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/boostrap/dist/js/boostrap.min.js"></script>
    <script src="Scripts/app.js"></script>

</body>

<footer>
    <div class="container-fluid" style="background-color: orange;">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6" style="text-align: right">
                <p>Copyright © 2016 TylerCadeau.</p>
            </div>
        </div>
</footer>

</html>