<!--
//File Name   : Assignment1Part2\views\partials\footer.ejs
//Author Name : Tyler Cadeau
//Student Num : 200246900
//Website	  : https://comp2068-portfolioassignment.herokuapp.com/
//Description : This is the header partial which will be stiched into my index.ejs file
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IEedge">
    <meta name="viewport" content="width-device, initial-scale=1">
    <title>
        Tyler Cadeau Portfolio
    </title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />    
    
</head>

<body>
<div class="container-fluid">
    <header id="header">
        <div class="content">
            <div id="logo"><a href=""> Tyler Cadeau </a></div>
            <nav id="nav">
                <ul>
                    <li><a href="#about" class="active" title="About Tyler Cadeau Section">About</a></li>
                    <li><a href="#services" title="Services Section">Services</a></li>
                    <li><a href="#projects" title="Projects Section">Projects</a></li>
                    <li><a href="#social" title="Social Section">Social</a></li>
                    <li><a href="/contact" title="Contact Section">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>