
<% include partials/header.ejs %>

<!-- Main -->
<main>  
    
    <!-- TopSlide -->
    <div id="top">
        <div id="slide-content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Content/twitter.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfTopSLide -->
    
    <!-- About Slide -->
    <div id="about"> 
        <div id="slide-content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfAboutSLide -->
    
    <!-- Services Slide -->
    <div id="services">
        <div id="slide-content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfServicesSLide -->
    
    
    <!-- Projects Slide -->
    <div id="projects">
        <div id="slide-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="border-style: dotted; border-width: 2px">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                    <div class="col-md-4" style="border-style: dotted; border-width: 2px">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                    <div class="col-md-4" style="border-style: dotted; border-width: 2px">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EndOfPortfolioSLide -->
    
    <!-- Social Slide -->
    <div id="social">
        <div id="slide-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div id="facebookButton">
                            <a href="http://www.facebook.com"></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="twitterButton">
                            <a href="http://www.twitter.com"></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="linkedinButton">
                            <a href="http://www.linkedin.com"></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="googleplusButton">
                            <a href="http://plus.google.com"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EndOfSocialSLide -->

</main>

<% include partials/footer.ejs %>